.vagrant
apps
etc
srv
/startshiny.cmd
/puppet_core_types_cheatsheet.pdf
shiny-server

/precise/*.box
images/xray.zip
images/jpeg
texts/data/*
texts/[Nn]eurasthenia.txt texts/hysteria.txt
texts/sample_journals texts/sample_texts.zip
bookwormDB
.DS_Store
texts/sample_journals texts/sample_journals.zip
